affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1674245120525/work
altair==5.0.1
anyio==3.7.0
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
backcall==0.2.0
beautifulsoup4==4.12.2
black @ file:///Users/runner/miniforge3/conda-bld/black-recipe_1682492104969/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1674535352125/work
blinker==1.6.2
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1683730530224/work
bqplot==0.12.39
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1667848736831/work
cachetools==5.3.1
Cartopy @ file:///Users/runner/miniforge3/conda-bld/cartopy_1679098127385/work
certifi==2023.5.7
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1671179893800/work
cfgv @ file:///home/conda/feedstock_root/build_artifacts/cfgv_1629909281805/work
cftime @ file:///Users/runner/miniforge3/conda-bld/cftime_1666833993508/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1678108872112/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
codecov @ file:///home/conda/feedstock_root/build_artifacts/codecov_1681778020913/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorcet @ file:///home/conda/feedstock_root/build_artifacts/colorcet_1664843244467/work
colour==0.1.5
comm==0.1.3
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1673633760692/work
coverage @ file:///Users/runner/miniforge3/conda-bld/coverage_1685400003935/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython @ file:///Users/runner/miniforge3/conda-bld/cython_1685025295603/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1686329713262/work
datashader @ file:///home/conda/feedstock_root/build_artifacts/datashader_1685524268748/work
datashape==0.5.4
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1668356257807/work
et-xmlfile==1.1.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1678703645500/work
executing==1.2.0
fastjsonschema==2.17.1
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1686612785345/work
Fiona @ file:///Users/runner/miniforge3/conda-bld/fiona_1684320641557/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1669396691980/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1670956290671/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1686578575353/work
fqdn==1.5.1
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1686342280219/work
GDAL @ file:///Users/runner/miniforge3/conda-bld/gdal-split_1684601262793/work/build/swig/python
gdown==4.7.1
geographiclib @ file:///home/conda/feedstock_root/build_artifacts/geographiclib_1624386157733/work
geojson==3.0.1
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1686057576800/work
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1668350868373/work
geoviews @ file:///home/conda/feedstock_root/build_artifacts/geoviews-core_1685038932148/work
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.20.0
google-auth-oauthlib==1.0.0
gspread==5.9.0
haversine==2.8.0
holoviews @ file:///home/conda/feedstock_root/build_artifacts/holoviews_1686298143174/work
hvplot @ file:///home/conda/feedstock_root/build_artifacts/hvplot_1679061159667/work
identify @ file:///home/conda/feedstock_root/build_artifacts/identify_1683153699653/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1682176699712/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
ipyevents==2.0.1
ipyfilechooser==0.6.0
ipykernel==6.23.2
ipyleaflet==0.17.3
ipython==8.14.0
ipython-genutils==0.2.0
ipytree==0.2.2
ipywidgets==8.0.6
isoduration==20.11.0
jedi==0.18.2
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1666805765141/work
leafmap==0.21.3
linkify-it-py @ file:///home/conda/feedstock_root/build_artifacts/linkify-it-py_1651923627081/work
llvmlite==0.40.0
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1673861555770/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1679584000376/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1685769224421/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1678135763500/work
matplotlib-inline==0.1.6
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1643049622439/work
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1686175351422/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1639515908913/work
mistune==2.0.5
movingpandas @ file:///home/conda/feedstock_root/build_artifacts/movingpandas_1683456816696/work
multipledispatch==0.6.0
munch @ file:///home/conda/feedstock_root/build_artifacts/munch_1684150905574/work
munkres==1.1.4
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1675543315189/work
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.5.0
nbformat==5.9.0
nest-asyncio==1.5.6
netCDF4 @ file:///Users/runner/miniforge3/conda-bld/netcdf4_1686025329850/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
nodeenv @ file:///home/conda/feedstock_root/build_artifacts/nodeenv_1683892983968/work
notebook==6.5.4
notebook_shim==0.2.3
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1685545150859/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1682210346059/work
oauthlib==3.2.2
openpyxl==3.1.2
ordered-set @ file:///home/conda/feedstock_root/build_artifacts/ordered-set_1643221357603/work
overrides==7.3.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1685343004766/work
pandocfilters==1.5.0
panel @ file:///home/conda/feedstock_root/build_artifacts/panel_1686042470991/work
param @ file:///home/conda/feedstock_root/build_artifacts/param_1678790747312/work
parso==0.8.3
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1681246756246/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1678853982175/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1665356157073/work
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1684654142338/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1686403120743/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1667232663820/work
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1679580333621/work
pre-commit @ file:///home/conda/feedstock_root/build_artifacts/pre-commit_1684371526775/work
prometheus-client==0.17.0
prompt-toolkit==3.0.38
protobuf==4.23.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1669306857274/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyct==0.4.6
pydeck==0.8.1b0
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1669319921641/work
Pygments==2.15.1
pymap3d @ file:///home/conda/feedstock_root/build_artifacts/pymap3d_1681802575749/work
Pympler==1.0.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1686592761439/work
pyrsistent==0.19.3
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1659002966020/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pystac==1.7.3
pystac-client==0.7.1
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1686586672071/work
pytest-cov @ file:///home/conda/feedstock_root/build_artifacts/pytest-cov_1684964868191/work
python-box==7.0.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-json-logger==2.0.7
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
pytz-deprecation-shim==0.1.0.post0
pyviz-comms @ file:///home/conda/feedstock_root/build_artifacts/pyviz_comms_1686295353925/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1666772543719/work
pyzmq==25.1.0
qtconsole==5.4.3
QtPy==2.3.1
rasterio @ file:///Users/runner/miniforge3/conda-bld/rasterio_1684815479133/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
rsa==4.9
Rtree @ file:///Users/runner/miniforge3/conda-bld/rtree_1666813320619/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1685519195041/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1670412881259/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1685023781664/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1683900561684/work/base/dist/scipy-1.10.1-cp310-cp310-macosx_11_0_arm64.whl#sha256=a3c0cd42a1c134ecde8ed82f601d7bcc58f1bd7fe5f748f9322af7396f50d220
scooby==0.7.2
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1672497695270/work
Send2Trash==1.8.2
shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1679081645154/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.0
sniffio==1.3.0
snuggs==1.4.7
soupsieve==2.4.1
stack-data==0.6.2
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1683305739900/work
stonesoup @ file:///home/conda/feedstock_root/build_artifacts/stonesoup_1685442918902/work
streamlit==1.23.1
tabulate==0.9.0
tenacity==8.2.2
terminado==0.17.1
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tinycss2==1.2.1
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1684150425472/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1677948868469/work
traitlets==5.9.0
traittypes==0.2.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1685704949284/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
tzlocal==4.3
uc-micro-py @ file:///home/conda/feedstock_root/build_artifacts/uc-micro-py_1608058642472/work
ukkonen @ file:///Users/runner/miniforge3/conda-bld/ukkonen_1666949031763/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1667239979860/work
uri-template==1.2.0
urllib3==1.26.16
utm @ file:///home/conda/feedstock_root/build_artifacts/utm_1621882749246/work
validators==0.20.0
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1682674264573/work
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.3
whitebox==2.3.1
whiteboxgui==2.3.0
widgetsnbextension==4.0.7
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1684536552446/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1684571362432/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
